<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>This is a wideget for a website.  Just place it in an iframe.</p>
    <iframe src="http://extramedium-fun.appspot.com/convert"/> 
  </body>
</html>
